/* Empty. Add your own CSS if you like */

.splash {
	background: url(../img/P6z1qnt.jpg) no-repeat fixed;
	background-position: 40% 50%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;

}

.player-close-button {
	float:right;
	position:relative;
	padding:5px;
	z-index: 1000;
}

.tab-overlay, .ion-tabs {
	z-index: 20000;
	position: fixed;
}
.aapplayer-div {
	z-index:5;
	display: none; 
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 170px;
	margin: 0px auto;
}
.waiting, .waitingPlayer {
	position:absolute;
	z-index: 100;
	padding: 50%;
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,.5);
}

.waitingPlayer {
	height:170px;
	padding:50% 0%;
	margin: 0 auto;
}
/* Front Page Branding */
.branding {
	width:80%;
	margin: 0 auto;
	text-align: center;
	max-width: 200px;
	margin-top:50px;
	font-size: 150%;
	font-weight: 600;
}

.branding img {
	width:100%;
}

.fonte-description img {
	float:left;
	padding-right:10px;
	padding-bottom: 10px;
}

.fonte-description h2 {
	font-size:130%;
}

/* Front Page first view branding */
#fp-regular {
	left:2000px;
}

#fp-first-run {
	width:60%;
	margin: 15px auto;
}
.fp-wrap {
	background-color: rgba(255,255,255,.7);
	padding:20px;
	margin:20px;
	border-radius: 15px;
}
#fp-regular .fp-wrap a:before {
	font-size:130px;

}
#fp-regular .fp-wrap h2 {
	font-size: xx-large;
	bottom: 0px;
	position:relative;
}
.fp-wrap a {
	height:150px;
	width:150px;
	border-radius:25px;
}
#fp-2 {
	left:1000px;
}
.fp {
	position:absolute;
	width:100%; /*change back to 100% after done messing */
}
#fp-div {
	position:relative;
	/*left:-2000px;*/
}

.sermon-page h2{
	font-size:120%;

}

.sermon-page button {
	margin: 2px;
}

.amazingaudioplayer-card h2, .resource-card a h2 {
	font-style: italic;
	font-weight: bold;
}

.amazingaudioplayer-card a, .resource-card a {
	text-decoration: none;
	font-weight: bold;
}

p.language-display {
	text-decoration: none;
	font-weight: bold;
	background-color: #0c60ee;
	display: inline-block;
	padding:0px 10px;
	border-radius: 10px;
	color: #fff;
}

.amazingaudioplayer-card:nth-child(even), .resource-card:nth-child(even) {
	background: #c6daec;
}

.org-img {
	float: right;
	position: absolute;
	width:45px;
	top:75px;
}

.preacher-img {
	height:100px;
	float:left;
	width:100px;
	margin-right:10px;
}

/* Styles for Downloads Page */

.item-divider h1 {
	font-size:140%;

}
.about-page h1 {
	padding-top:0px;
	margin-top: 5px;
}
.about-page p {
	margin-bottom: 20px;
}