<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!--<script type="text/javascript" src="js/jgestures.min.js"></script>-->
    <script src="http://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
    <script src="audioplayerengine/amazingaudioplayer.js"></script>
    
    <link rel="stylesheet" type="text/css" href="audioplayerengine/initaudioplayer-1.css">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
<script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>
    <script src="js/angular-translate.min.js"></script> 
    <!-- cordova script (this will be a 404 during development) -->
    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
<!-- <script src="cordova.js"></script> -->

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="starter">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar-positive" ng-controller="menuCtrl">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-navicon" ng-click="toggleRightSideMenu()" menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>
    <ion-side-menus>
    <ion-side-menu side="right">
      <ion-header-bar class="bar-assertive">
        <h1 class="title">Settings</h1>
        </ion-header-bar>
      <ion-content>
        <ion-list>
    <h2>{{ 'SETTINGS_INFORMATION' | translate}}</h2>
    <form name="settingsForm" ng-submit="SettingsCtrl.set">
    <h4 class="padding">{{'SETTINGS_CLANGUAGE' | translate}}</h4>
      <div class="button-bar bar-calm padding language-picker">
        <a ng-model="appLanguage" class="button button-positive" ng-click="languageChange('en')">{{'SETTINGS_EN' | translate}}</a>
        <a ng-model="appLanguage" class="button button-calm" ng-click="languageChange('pt')">{{'SETTINGS_PT' | translate}}</a>
      </div>
      <!--Keeping these for the time being to help me understand how these variables work!
      <p>{{appLanguage}}</p>
    <pre ng-bind="appLanguage"></pre>
    <div ng-bind="settings.language"></div>-->
    <label class="item item-input item-select">
      <div class="input-label">
        Resource Language
      </div>
      
      <select ng-model="settings.languages" ng-controller="languagePicker">
        <option ng-repeat="lang in settings.languages" ng-value='{{lang.IDNT}}'>{{lang.en_language}}</option>
      </select>
    </label>
    
      </ion-list>
      <h4 class="padding">Show me Resources from the following organizations:</h4>
      <ion-list>
          <ion-checkbox ng-repeat="item in orgList" ng-model="item.checked" ng-checked="item.checked">{{item.en_orgName}}</ion-checkbox>
      </ion-list>
      </form>
      </ion-list>
    </ion-content>
    </ion-side-menu>
    </ion-side-menus>
  </body>
</html>
