<ion-view view-title="Listen to the Bible - Choose a Chapter" ng-controller="BibleBookCtrl">
  <ion-content>
    <h1></h1>
    <ion-item class="item-icon-right" type="item-text-wrap" ng-repeat="chapters in api.data" ng-click="playNow({{chapters}})">
	    <h2 class="padding">Chapter {{chapters.chapter_id}}</h2>
	    <p class="padding">{{settings.damId}}</p>
	    <li style="display:none" data-artist="" data-title="{{settings.bibleBookId}} Chapter {{chapters.chapter_id}}" data-album data-info data-image="" data-duration=""><div class="amazingaudioplayer-source" data-src="{{settings.rootURL + chapters.path}}" data-type="audio/mpeg" /></div></li>
    </ion-item>
  </ion-content>
</ion-view>
