<ion-view view-title="{{'ABOUT_TITLE' | translate}}">
  <ion-content on-swipe-left="goToStart()">
  <p>Fonte da Vida is a joint partnership between Equip Mozambique and the local mozambican churches, principally Peniel International. The goal of the application is to provide resources to the local believers in a language and method they can understand. Any church is able to upload resources on the app provided they follow the <a>guidelines</a>.
  <br/>
  If you believe there is a copyright infringement of any of the material provided, please fill out form located <a>here</a>.
  <br/>
  Chief Programmer: Jon Reinagel<br/>
  API Design: Kneight Reinagel<br/>
  Translation: Nordino Armando<br/>
  </p>
  </ion-content>
</ion-view>
